
.navbar {
  margin-bottom: 0px;
}

.navbar-dark {
   background:rgba(0,0,0,0.5);  
}

#header {
  padding-top: 65px;

  background-color: white;
  background-image: url("img/smoke_black.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin-bottom: 0px!important;
  border-radius: 0px!important;
}

#prof_pic {
   display: block;
   margin: auto;
   width: 40%;
   height: 40%;
   padding: 3%;

   -webkit-transition: all 0.7s ease;
   transition: all 0.7s ease;
}

#prof_pic:hover {
    -webkit-transform:scale(1.12);
    transform:scale(1.12);
}

#name {
  text-decoration: none;
  color: black !important;
  font-family: monospace !important;
  font-weight: bolder !important;
}

#content  {
  margin-bottom: 0px!important;
  border-radius: 0px!important;
  background-color: white;
}

#child h5 {
  font-family: monospace,sans-serif !important;
}

#child a {
  color: black;
  border-bottom: 1.5px dotted black;
  text-decoration: none;
}

#child a:hover{
  color: #778899;
}

#child p {
  font-family: arial !important;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 25px;
}

.row img {
  padding: 2em 0em 2em 0em;
}

#strada h5:hover{
  opacity: 0.7;
}

#dotavideo {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

#dotavideo iframe, #dotavideo object, #dotavideo embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#jumbotron_photography  {
  margin-bottom: 0px!important;
  border-radius: 0px!important;
}

#photo_quote  {
  margin-bottom: 3em!important;

  font-family: monospace;
  font-weight: bold;
}

footer {
  background-color: #2E2E2E;
}

.social {
  padding: 30px;
  margin: auto;
}

.social a {
  text-decoration: none;
}

.social img {
  margin: 0px 15px 15px 0px;
}

/* Add a hover effect if you want */
.social img:hover {
  opacity: 0.7;
}

#photo-grid a img {
  max-width: 90%;
  height: auto;
  margin: 25px;

  padding: auto;
}

#photo-grid a img:hover {
  -webkit-filter:none;
  -webkit-transition: all 0.8s ease;
   transition: all 0.8s ease;
}

/*Filter styles*/
/*
.grayscale {-webkit-filter: grayscale(100%);}
*/

@media only screen and (max-width: 1477px)  {

  #prof_pic {
   display: block;
   margin: auto;
   width: 40%;
   height: 40%;
   padding: 0%;

   -webkit-transition: all 0.7s ease;
   transition: all 0.7s ease;
  }

  #name {
  color: white;

  display: block;
  font-size: 1.9em;
  margin-top: 0.83em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  font-family: sans-serif;
  font-weight: bolder;
  }

}

@media only screen and (max-width: 715px)  {

  #prof_pic {
   display: block;
   margin: auto;
   width: 65%;
   height: 65%;
   padding: 0%;

   -webkit-transition: all 0.7s ease;
   transition: all 0.7s ease;
  }

  #name {
  color: white;

  display: block;
  font-size: 1.85em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;

  font-family: sans-serif;
  font-weight: bolder;
  }

  #photo_quote_header {
    font-size: 0.92em;
  }

  #quote_opinion  {
    font-size: 0.82em;
  }

}
